
#main_div_1,
#main_div_2,
#main_div_3 {
  background: linear-gradient(to right, #e6e6e6, white);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0 0 0;
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  float: left;
  border-left: 5px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
  font-family: "Share Tech Mono", monospace;
}
#body {
  line-height: 1.5;
  font-size: 1.7rem;
}

.highlight {
  background-color: black;
  color: white;
  padding: 1.7px;
}
h1 {
  font-size: 3rem;
  border-bottom: 1px solid black;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
  font-size: 30px;
}

img {
  border-radius: 7%;
  border-left: 5px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.lastUpdate {
  font-size: 1.2rem;
  color: black;
  text-shadow: 1px 1px #ff0000;
}

.slide-in-elliptic-top-fwd{-webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}@keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}